body{
    background: gray;
    margin: 0px;
    overflow: hidden;
}

main{
    
    text-align: center;
    
}

button{
    border: 2px solid white;
    border-radius: 12px;
    padding: 15px;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif
}

h1{
    margin: 20px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

hr{
    border: 5px solid black;
}

footer{
    color: white;
    padding: 12px;
    display: flex;
    font-size: 15px;
    justify-content: center;
}

#blackswapBtn{
    background: black;
    color: white;
}

#colorswapBtn{
   background-color: purple;
   color: lime;
}

#incrementBtn{
    color: black;
    background-color: grey;
}

#eraseBtn{
    background: pink;
}

#resizeBtn{
    background-color: #6424DB;
    color: #9BDB24;
}

#startnewBtn{
    background-color: #6424DB;
    color: #9BDB24;
}

#gridContainer{
    display: inline-grid;
    grid-template-columns: repeat(16, auto);
   height: 500px;
   width: 500px;
   border: 7px solid #4d4d4e;
   background: white;
}


#gridContainer > div {
    height: auto;
    width: auto;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
    
}

#buttonsDiv{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}
#bottomButton{
    
    text-align: center;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly
}

